<!doctype html>
<html>
  <body>
    <h1>Usuário</h1>
    <form action="/usuarios" method="POST">
      E-mail: <input name="email" type="email" /><br />
      Senha: <input name="senha" type="password" maxlength="6"/><br />
      Cpf: <input name="cpf" type="number"  maxlength="11"/><br />
      <input type="submit" value="Ok" />
    </form>
    <% if(message) { %>
      <p>
        <label style="color:Red"><%= message %></label>
      </p>
    <%}%>
  </body>
</html>